*{
    margin: 0;
}

header{
    background-color: cadetblue;
    background-image: url(../img/pattern.png);
    background-size: 500px auto;
}

#logo-container{
    width: 10%;
    height: auto;
    padding-top: 50px;
}

#article-info{
    color: gray;
}

#author-article{
    color: rgb(0, 89, 255);
}

#date-article{
    font-size: 0.8em;
}

.header-main{
    margin-top: 20px;
    margin-bottom: 20px;
}

.photo-info{
    display: block;
    font-size: 0.8em;
}

#yellow{
    background-color: yellow;
}

.margin{
    margin-top: 20px;
}

#thead-row{
    color: white;
    background-color: cadetblue;
}

table{
    width: 100%;
    text-align: left;
    border-spacing: 0;
}

.color{
    background-color: rgb(197, 223, 224);
}

.consigliati{
    width: 250px;
    height: 200px;
    color: white;
    margin: 10px 0 5px 0;
    font-size: 1.3em;
    background-position: center;
    background-size: cover;
}

#consigliato_1{
    background-image: url(../img/monitor.jpg);
}

#consigliato_2{
    background-image: url(../img/graph.jpg);
}

#gray{
    color: gray;
}
